@import url("../Login/login.scss");

.container--email {
    .email {
        display: flex;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--background);
        position: relative;
        .email--icon-cancel {
            position: absolute;
            right: 0;
        }
    }
}