.goodbye-container {
    text-align: center;
    padding-top: 5rem;
    .bye-message {
        font-size: 1.5rem;
      }
      .exit-text {
        color: #707070;
        margin-top: 1rem;
      }
}